
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 74.6rem;
}.componet-66B {
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;
  height: 62.9rem;
  position: relative;

  .logo-pXy {
    object-fit: contain;
    vertical-align: top;
    width: 5rem;
    height: 5rem;
    position: absolute;
    left: 2.7rem;
    top: 3.6rem;
  }
  .button--vqu {
    font-family: DM Sans, 'Source Sans Pro';
    height: 4.6rem;
    font-weight: 500;
    letter-spacing: 0.06rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #64ccc5;
    width: 15.2rem;
    left: 2.9rem;
    top: 12.1rem;
    color: #fafafa;
    white-space: nowrap;
    border-radius: 3rem;
    position: absolute;
    font-size: 2rem;
    line-height: 1.3025;
  }
  .rectangle-5-kK9 {
    height: 7.1rem;
    position: absolute;
    left: 20.3rem;
    top: 10.9rem;
    background-color: #d9d9d9;
    width: 45.9rem;
  }
  .frame-3-rNB {
    width: 4rem;
    height: 4rem;
    position: absolute;
    left: 2.9rem;
    top: 19.4rem;
    object-fit: contain;
    vertical-align: top;
  }
  .slider-yxb {
    width: 9rem;
    height: 4rem;
    position: absolute;
    left: 13.2rem;
    top: 19.3rem;
    display: flex;
    align-items: center;

    .group-2-TFV {
      margin-right: 1rem;
      width: 4rem;
      height: 4rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .group-1-yjd {
      vertical-align: top;
      flex-shrink: 0;
      width: 4rem;
      height: 4rem;
      object-fit: contain;
    }
  }
  .start-trial-KoV {
    padding: 1rem 1.9rem 1rem 1rem;
    height: 4.8rem;
    display: flex;
    background-color: #ffffff;
    box-sizing: border-box;
    width: 24.1rem;
    position: absolute;
    left: 21.5rem;
    top: 12.1rem;
    align-items: center;
    border-radius: 2.3rem;

    .frame-35-Dts {
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 1rem;
      width: 2.8rem;
      height: 2.8rem;
    }
    .start-your-free-trial-mQb {
      font-weight: 400;
      letter-spacing: 0.054rem;
      color: rgba(12, 12, 12, 0.8999999762);
      font-family: DM Sans, 'Source Sans Pro';
      margin-top: 0.1rem;
      font-size: 1.8rem;
      line-height: 1.3025;
      white-space: nowrap;
      flex-shrink: 0;
    }
  }
  .button--SWj {
    position: absolute;
    font-weight: 400;
    letter-spacing: 0.054rem;
    border-radius: 2.3rem;
    white-space: nowrap;
    align-items: center;
    width: 13.9rem;
    left: 50.3rem;
    top: 12.1rem;
    font-size: 1.8rem;
    line-height: 1.3025;
    color: rgba(12, 12, 12, 0.8999999762);
    display: flex;
    justify-content: center;
    height: 4.7rem;
    font-family: DM Sans, 'Source Sans Pro';
    background-color: #fafafa;
  }
  .navigation--WmV {
    display: flex;
    align-items: center;
    position: absolute;
    left: 2.7rem;
    top: 26.9rem;
    column-gap: 3.7rem;
    box-sizing: border-box;
    padding: 0.5rem 0rem 0.4rem 0.5rem;
    width: 32.2rem;
    height: 3.3rem;

    .home-nyu {
      font-size: 2rem;
      font-weight: 600;
      line-height: 1.1725;
      color: #000000;
      font-family: Roboto Serif, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .about-XAo {
      color: #000000;
      font-family: Roboto Serif, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 2rem;
      font-weight: 600;
      line-height: 1.1725;
    }
    .contact-us-sEf {
      font-family: Roboto Serif, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 2rem;
      font-weight: 600;
      line-height: 1.1725;
      color: #000000;
    }
  }
}
