
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.contact-us--Q2T {
  box-sizing: border-box;
  padding-top: 2.15rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.contact-us--Q2T .main-section-wYB {
  margin: 0rem 26rem 10rem 26rem;
  width: calc(100% - 52rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.contact-us--Q2T .main-section-wYB .frame-54-fUB {
  margin: 0rem 1.045rem 8.85rem 0.3rem;
  width: calc(100% - 1.3448rem);
  height: 4.7rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.contact-us--Q2T .main-section-wYB .frame-54-fUB .auto-group-j9my-zFZ {
  box-sizing: border-box;
  padding: 0.351rem 44.4rem 0.351rem 0rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.contact-us--Q2T .main-section-wYB .frame-54-fUB .auto-group-j9my-zFZ .group-9-ixF {
  margin-right: 34.6118rem;
  box-sizing: border-box;
  padding-left: 0.0205rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.contact-us--Q2T .main-section-wYB .frame-54-fUB .auto-group-j9my-zFZ .group-9-ixF .logo-4FR {
  margin-right: 1.0205rem;
  width: 4.0024rem;
  height: 3.9971rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.contact-us--Q2T .main-section-wYB .frame-54-fUB .auto-group-j9my-zFZ .group-9-ixF .canvix-zPy {
  margin-top: 0.0835rem;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.1725;
  color: rgba(12, 12, 12, 0.8999999762);
  font-family: Roboto Serif, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contact-us--Q2T .main-section-wYB .frame-54-fUB .auto-group-j9my-zFZ .navigation--WNK {
  margin: 0.699rem 0rem 0.599rem 0rem;
  height: calc(100% - 1.2971rem);
  display: flex;
  column-gap: 4rem;
  align-items: center;
  flex-shrink: 0;
}
.contact-us--Q2T .main-section-wYB .frame-54-fUB .auto-group-j9my-zFZ .navigation--WNK .home-2rT {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.3025;
  color: rgba(12, 12, 12, 0.8999999762);
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contact-us--Q2T .main-section-wYB .frame-54-fUB .auto-group-j9my-zFZ .navigation--WNK .about-NQX {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.3025;
  color: rgba(12, 12, 12, 0.8999999762);
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contact-us--Q2T .main-section-wYB .frame-54-fUB .auto-group-j9my-zFZ .navigation--WNK .contact-us-7N7 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.3025;
  color: rgba(12, 12, 12, 0.8999999762);
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contact-us--Q2T .main-section-wYB .frame-54-fUB .button--FDR {
  width: 13.9rem;
  height: 100%;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3025;
  letter-spacing: 0.054rem;
  color: #fafafa;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(12, 12, 12, 0.8999999762);
  border-radius: 2.3rem;
  flex-shrink: 0;
}
.contact-us--Q2T .main-section-wYB .group-1000003531-KUB {
  margin-bottom: 10.3341rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.contact-us--Q2T .main-section-wYB .group-1000003531-KUB .auto-group-kei3-G8X {
  margin-right: 20.4rem;
  width: 40.1rem;
  flex-shrink: 0;
}
.contact-us--Q2T .main-section-wYB .group-1000003531-KUB .auto-group-kei3-G8X .frame-1000003542-ou9 {
  margin-bottom: 1.8rem;
  box-sizing: border-box;
  padding-bottom: 3.3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: solid 0.1rem #dedede;
}
.contact-us--Q2T .main-section-wYB .group-1000003531-KUB .auto-group-kei3-G8X .frame-1000003542-ou9 .frame-1000003537-Y63 {
  margin-bottom: 0.7rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.contact-us--Q2T .main-section-wYB .group-1000003531-KUB .auto-group-kei3-G8X .frame-1000003542-ou9 .frame-1000003537-Y63 .lets-talk-HZR {
  margin-bottom: 3.1rem;
  font-size: 6.4rem;
  font-weight: 600;
  line-height: 1.1725;
  color: #0c0c0c;
  font-family: Roboto Serif, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contact-us--Q2T .main-section-wYB .group-1000003531-KUB .auto-group-kei3-G8X .frame-1000003542-ou9 .frame-1000003537-Y63 .we-collaborate-with-thousands-of-creators-entrepreneurs-and-complete-legends-CAb {
  max-width: 38.1rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3025;
  letter-spacing: 0.054rem;
  color: rgba(12, 12, 12, 0.8999999762);
  font-family: DM Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.contact-us--Q2T .main-section-wYB .group-1000003531-KUB .auto-group-kei3-G8X .frame-1000003542-ou9 .line-7-gLf {
  margin-bottom: 3.2rem;
  width: 100%;
  height: 0.1rem;
  background-color: #dedede;
  flex-shrink: 0;
}
.contact-us--Q2T .main-section-wYB .group-1000003531-KUB .auto-group-kei3-G8X .frame-1000003542-ou9 .frame-1000003541-dFu {
  margin-bottom: 3.2rem;
  width: 23.4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.contact-us--Q2T .main-section-wYB .group-1000003531-KUB .auto-group-kei3-G8X .frame-1000003542-ou9 .frame-1000003541-dFu .frame-1000003538-md1 {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.contact-us--Q2T .main-section-wYB .group-1000003531-KUB .auto-group-kei3-G8X .frame-1000003542-ou9 .frame-1000003541-dFu .frame-1000003538-md1 .frame-1000003533-8Cf {
  margin-right: 2.6rem;
  width: 5rem;
  height: 5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.contact-us--Q2T .main-section-wYB .group-1000003531-KUB .auto-group-kei3-G8X .frame-1000003542-ou9 .frame-1000003541-dFu .frame-1000003538-md1 .frame-1000003560-sAF {
  margin: 0.25rem 0;
  height: calc(100% - 0.5rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.contact-us--Q2T .main-section-wYB .group-1000003531-KUB .auto-group-kei3-G8X .frame-1000003542-ou9 .frame-1000003541-dFu .frame-1000003538-md1 .frame-1000003560-sAF .our-email-cNj {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.1725;
  color: #0c0c0c;
  font-family: Roboto Serif, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contact-us--Q2T .main-section-wYB .group-1000003531-KUB .auto-group-kei3-G8X .frame-1000003542-ou9 .frame-1000003541-dFu .frame-1000003538-md1 .frame-1000003560-sAF .helloexamplecom-YGP {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3025;
  letter-spacing: 0.048rem;
  color: rgba(12, 12, 12, 0.8999999762);
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contact-us--Q2T .main-section-wYB .group-1000003531-KUB .auto-group-kei3-G8X .frame-1000003542-ou9 .frame-1000003541-dFu .auto-group-y64f-eqD {
  box-sizing: border-box;
  padding-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.contact-us--Q2T .main-section-wYB .group-1000003531-KUB .auto-group-kei3-G8X .frame-1000003542-ou9 .frame-1000003541-dFu .auto-group-y64f-eqD .frame-1000003541-zeB {
  margin: 0rem 4.4rem 2rem 0rem;
  width: calc(100% - 4.4rem);
  height: 5rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.contact-us--Q2T .main-section-wYB .group-1000003531-KUB .auto-group-kei3-G8X .frame-1000003542-ou9 .frame-1000003541-dFu .auto-group-y64f-eqD .frame-1000003541-zeB .frame-1000003539-iKH {
  margin-right: 2.6rem;
  width: 5rem;
  height: 5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.contact-us--Q2T .main-section-wYB .group-1000003531-KUB .auto-group-kei3-G8X .frame-1000003542-ou9 .frame-1000003541-dFu .auto-group-y64f-eqD .frame-1000003541-zeB .frame-1000003560-FKD {
  margin: 0.25rem 0;
  height: calc(100% - 0.5rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.contact-us--Q2T .main-section-wYB .group-1000003531-KUB .auto-group-kei3-G8X .frame-1000003542-ou9 .frame-1000003541-dFu .auto-group-y64f-eqD .frame-1000003541-zeB .frame-1000003560-FKD .call-us-PgK {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.1725;
  color: #0c0c0c;
  font-family: Roboto Serif, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contact-us--Q2T .main-section-wYB .group-1000003531-KUB .auto-group-kei3-G8X .frame-1000003542-ou9 .frame-1000003541-dFu .auto-group-y64f-eqD .frame-1000003541-zeB .frame-1000003560-FKD .item-123-456-7892-8to {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3025;
  letter-spacing: 0.048rem;
  color: rgba(12, 12, 12, 0.8999999762);
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contact-us--Q2T .main-section-wYB .group-1000003531-KUB .auto-group-kei3-G8X .frame-1000003542-ou9 .frame-1000003541-dFu .auto-group-y64f-eqD .frame-1000003540-eMM {
  margin-right: 0.5rem;
  width: calc(100% - 0.5rem);
  height: 5rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.contact-us--Q2T .main-section-wYB .group-1000003531-KUB .auto-group-kei3-G8X .frame-1000003542-ou9 .frame-1000003541-dFu .auto-group-y64f-eqD .frame-1000003540-eMM .frame-1000003535-P43 {
  margin-right: 2.9rem;
  width: 5rem;
  height: 5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.contact-us--Q2T .main-section-wYB .group-1000003531-KUB .auto-group-kei3-G8X .frame-1000003542-ou9 .frame-1000003541-dFu .auto-group-y64f-eqD .frame-1000003540-eMM .frame-1000003560-Xg3 {
  margin: 0.25rem 0;
  height: calc(100% - 0.5rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.contact-us--Q2T .main-section-wYB .group-1000003531-KUB .auto-group-kei3-G8X .frame-1000003542-ou9 .frame-1000003541-dFu .auto-group-y64f-eqD .frame-1000003540-eMM .frame-1000003560-Xg3 .find-us-5xT {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.1725;
  color: #0c0c0c;
  font-family: Roboto Serif, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contact-us--Q2T .main-section-wYB .group-1000003531-KUB .auto-group-kei3-G8X .frame-1000003542-ou9 .frame-1000003541-dFu .auto-group-y64f-eqD .frame-1000003540-eMM .frame-1000003560-Xg3 .open-google-maps-2sh {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3025;
  letter-spacing: 0.048rem;
  color: rgba(12, 12, 12, 0.8999999762);
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contact-us--Q2T .main-section-wYB .group-1000003531-KUB .auto-group-kei3-G8X .frame-1000003559-LdV {
  display: flex;
  align-items: flex-start;
}
.contact-us--Q2T .main-section-wYB .group-1000003531-KUB .auto-group-kei3-G8X .frame-1000003559-LdV .vector-J4X {
  margin-right: 4rem;
  width: 1.2rem;
  height: 2.16rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.contact-us--Q2T .main-section-wYB .group-1000003531-KUB .auto-group-kei3-G8X .frame-1000003559-LdV .group-1000003538-qKM {
  margin-right: 4.015rem;
  width: 2.285rem;
  height: 2.285rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.contact-us--Q2T .main-section-wYB .group-1000003531-KUB .auto-group-kei3-G8X .frame-1000003559-LdV .group-1000003541-mTu {
  width: 2.285rem;
  height: 2.285rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.contact-us--Q2T .main-section-wYB .group-1000003531-KUB .frame-1000003531-JCw {
  margin-top: 0.5006rem;
  box-sizing: border-box;
  padding: 4.449rem 4rem 4.449rem 4rem;
  width: 79.5rem;
  height: 52.1652rem;
  background-color: #f4f4f4;
  border-radius: 2rem;
  flex-shrink: 0;
}
.contact-us--Q2T .main-section-wYB .group-1000003531-KUB .frame-1000003531-JCw .frame-1000003545-pBH {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.contact-us--Q2T .main-section-wYB .group-1000003531-KUB .frame-1000003531-JCw .frame-1000003545-pBH .auto-group-okbd-mMR {
  box-sizing: border-box;
  padding-bottom: 5.5rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.contact-us--Q2T .main-section-wYB .group-1000003531-KUB .frame-1000003531-JCw .frame-1000003545-pBH .auto-group-okbd-mMR .frame-1000003528-uyR {
  margin: 0rem 0.1rem 5.5rem 0rem;
  width: calc(100% - 0.0997rem);
  height: 7.4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.contact-us--Q2T .main-section-wYB .group-1000003531-KUB .frame-1000003531-JCw .frame-1000003545-pBH .auto-group-okbd-mMR .frame-1000003528-uyR .frame-1000003543-eAK {
  margin-right: 6.4002rem;
  width: 32.4998rem;
  height: 100%;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3025;
  letter-spacing: 0.054rem;
  color: #0c0c0c;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  border-bottom: solid 0.1rem #dedede;
  box-sizing: border-box;
  flex-shrink: 0;
}
.contact-us--Q2T .main-section-wYB .group-1000003531-KUB .frame-1000003531-JCw .frame-1000003545-pBH .auto-group-okbd-mMR .frame-1000003528-uyR .frame-1000003544-LYw {
  width: 32.4998rem;
  height: 100%;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3025;
  letter-spacing: 0.054rem;
  color: #0c0c0c;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  border-bottom: solid 0.1rem #dedede;
  box-sizing: border-box;
  flex-shrink: 0;
}
.contact-us--Q2T .main-section-wYB .group-1000003531-KUB .frame-1000003531-JCw .frame-1000003545-pBH .auto-group-okbd-mMR .frame-1000003529-SM5 {
  margin-right: 0.0997rem;
  width: calc(100% - 0.0997rem);
  height: 7.4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.contact-us--Q2T .main-section-wYB .group-1000003531-KUB .frame-1000003531-JCw .frame-1000003545-pBH .auto-group-okbd-mMR .frame-1000003529-SM5 .frame-1000003543-aCP {
  margin-right: 6.4002rem;
  width: 32.4998rem;
  height: 100%;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3025;
  letter-spacing: 0.054rem;
  color: #0c0c0c;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  border-bottom: solid 0.1rem #dedede;
  box-sizing: border-box;
  flex-shrink: 0;
}
.contact-us--Q2T .main-section-wYB .group-1000003531-KUB .frame-1000003531-JCw .frame-1000003545-pBH .auto-group-okbd-mMR .frame-1000003529-SM5 .frame-1000003544-fjd {
  width: 32.4998rem;
  height: 100%;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3025;
  letter-spacing: 0.054rem;
  color: #0c0c0c;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  border-bottom: solid 0.1rem #dedede;
  box-sizing: border-box;
  flex-shrink: 0;
}
.contact-us--Q2T .main-section-wYB .group-1000003531-KUB .frame-1000003531-JCw .frame-1000003545-pBH .frame-1000003543-xyd {
  margin-bottom: 5.3668rem;
  width: 100%;
  height: 7.4rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3025;
  letter-spacing: 0.054rem;
  color: #0c0c0c;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  border-bottom: solid 0.1rem #dedede;
  box-sizing: border-box;
  flex-shrink: 0;
}
.contact-us--Q2T .main-section-wYB .group-1000003531-KUB .frame-1000003531-JCw .frame-1000003545-pBH .button--4mm {
  width: 13.6rem;
  height: 4.7rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3025;
  letter-spacing: 0.054rem;
  color: #fafafa;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(12, 12, 12, 0.8999999762);
  border-radius: 2.3rem;
  flex-shrink: 0;
}
.contact-us--Q2T .main-section-wYB .map-8Fq {
  width: 100%;
  border-radius: 2rem;
  flex-shrink: 0;
}
.contact-us--Q2T .main-section-wYB .map-8Fq .image-1-gYF {
  width: 140rem;
  height: 31.4rem;
  position: relative;
  background-size: 100.861% 102.625%;
  background-position: -1.205rem -0.4667rem;
  background-image: url('../assets/image-1.png');
  border-radius: 2rem;
}
.contact-us--Q2T .footer-wj5 {
  box-sizing: border-box;
  padding: 10rem 25.6rem 6rem 26rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #0c0c0c;
  flex-shrink: 0;
}
.contact-us--Q2T .footer-wj5 .frame-138-gAs {
  margin: 0rem 1.8rem 10.105rem 0rem;
  height: 25.3rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.contact-us--Q2T .footer-wj5 .frame-138-gAs .frame-135-oWP {
  margin-right: 13.1rem;
  width: 33.1rem;
  flex-shrink: 0;
}
.contact-us--Q2T .footer-wj5 .frame-138-gAs .frame-135-oWP .logo-kgX {
  margin: 0rem 12.27rem 2.4rem 0rem;
  box-sizing: border-box;
  padding-left: 0.0265rem;
  width: calc(100% - 12.2695rem);
  display: flex;
  align-items: center;
}
.contact-us--Q2T .footer-wj5 .frame-138-gAs .frame-135-oWP .logo-kgX .logo-5io {
  margin-right: 1.3261rem;
  width: 5.1778rem;
  height: 5.2rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.contact-us--Q2T .footer-wj5 .frame-138-gAs .frame-135-oWP .logo-kgX .canvix-pwH {
  margin-top: 0.0253rem;
  font-size: 3.8822rem;
  font-weight: 600;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto Serif, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contact-us--Q2T .footer-wj5 .frame-138-gAs .frame-135-oWP .were-a-team-of-strategic-creator-and-digital-innovator-united-focus-in-our-pursuit-of-mastery-and-joyful-xGo {
  max-width: 33.1rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3025;
  letter-spacing: 0.054rem;
  color: #ffffff;
  font-family: DM Sans, 'Source Sans Pro';
}
.contact-us--Q2T .footer-wj5 .frame-138-gAs .pages--2nT {
  margin-right: 10.4rem;
  width: 11.8rem;
  height: 100%;
  flex-shrink: 0;
}
.contact-us--Q2T .footer-wj5 .frame-138-gAs .pages--2nT .pages-nWj {
  margin-bottom: 2.3rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto Serif, 'Source Sans Pro';
  white-space: nowrap;
}
.contact-us--Q2T .footer-wj5 .frame-138-gAs .pages--2nT .frame-118-XUK {
  width: 100%;
  row-gap: 1.6rem;
  display: flex;
  flex-direction: column;
}
.contact-us--Q2T .footer-wj5 .frame-138-gAs .pages--2nT .frame-118-XUK .home-fqR {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3025;
  letter-spacing: 0.048rem;
  color: #f4f4f4;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contact-us--Q2T .footer-wj5 .frame-138-gAs .pages--2nT .frame-118-XUK .home-2-QY7 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3025;
  letter-spacing: 0.048rem;
  color: #f4f4f4;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contact-us--Q2T .footer-wj5 .frame-138-gAs .pages--2nT .frame-118-XUK .about-9Eo {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3025;
  letter-spacing: 0.048rem;
  color: #f4f4f4;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contact-us--Q2T .footer-wj5 .frame-138-gAs .pages--2nT .frame-118-XUK .conatct-us-6A3 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3025;
  letter-spacing: 0.048rem;
  color: #f4f4f4;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contact-us--Q2T .footer-wj5 .frame-138-gAs .pages--2nT .frame-118-XUK .portfolio-EX9 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3025;
  letter-spacing: 0.048rem;
  color: #f4f4f4;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contact-us--Q2T .footer-wj5 .frame-138-gAs .pages--2nT .frame-118-XUK .portfolio-single-yjd {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3025;
  letter-spacing: 0.048rem;
  color: #f4f4f4;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contact-us--Q2T .footer-wj5 .frame-138-gAs .utility-pages--iSK {
  margin-right: 9.9rem;
  width: 16.2rem;
  height: 100%;
  flex-shrink: 0;
}
.contact-us--Q2T .footer-wj5 .frame-138-gAs .utility-pages--iSK .utility-pages-UAb {
  margin-bottom: 2.3rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto Serif, 'Source Sans Pro';
  white-space: nowrap;
}
.contact-us--Q2T .footer-wj5 .frame-138-gAs .utility-pages--iSK .frame-118-oif {
  width: 100%;
  row-gap: 1.6rem;
  display: flex;
  flex-direction: column;
}
.contact-us--Q2T .footer-wj5 .frame-138-gAs .utility-pages--iSK .frame-118-oif .style-guide-Yw9 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3025;
  letter-spacing: 0.048rem;
  color: #f4f4f4;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contact-us--Q2T .footer-wj5 .frame-138-gAs .utility-pages--iSK .frame-118-oif .instruction-tk7 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3025;
  letter-spacing: 0.048rem;
  color: #f4f4f4;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contact-us--Q2T .footer-wj5 .frame-138-gAs .utility-pages--iSK .frame-118-oif .license-SFq {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3025;
  letter-spacing: 0.048rem;
  color: #f4f4f4;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contact-us--Q2T .footer-wj5 .frame-138-gAs .utility-pages--iSK .frame-118-oif .changelog-Ahd {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3025;
  letter-spacing: 0.048rem;
  color: #f4f4f4;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contact-us--Q2T .footer-wj5 .frame-138-gAs .utility-pages--iSK .frame-118-oif .error-404-hxT {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3025;
  letter-spacing: 0.048rem;
  color: #f4f4f4;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contact-us--Q2T .footer-wj5 .frame-138-gAs .utility-pages--iSK .frame-118-oif .password-protected-esh {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3025;
  letter-spacing: 0.048rem;
  color: #f4f4f4;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contact-us--Q2T .footer-wj5 .frame-138-gAs .frame-137-nj1 {
  width: 43.3rem;
  flex-shrink: 0;
}
.contact-us--Q2T .footer-wj5 .frame-138-gAs .frame-137-nj1 .subscribe-x7h {
  margin-bottom: 1.8rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto Serif, 'Source Sans Pro';
  white-space: nowrap;
}
.contact-us--Q2T .footer-wj5 .frame-138-gAs .frame-137-nj1 .frame-136-tn3 {
  width: 100%;
  height: 6.7rem;
  border-radius: 2rem;
}
.contact-us--Q2T .footer-wj5 .frame-138-gAs .frame-137-nj1 .frame-136-tn3 .frame-160-FsV {
  box-sizing: border-box;
  padding: 1rem 1rem 1rem 2.3rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 4rem;
}
.contact-us--Q2T .footer-wj5 .frame-138-gAs .frame-137-nj1 .frame-136-tn3 .frame-160-FsV .enter-your-email-here-bRZ {
  margin: 0.1rem 9.3rem 0rem 0rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3025;
  letter-spacing: 0.054rem;
  color: rgba(12, 12, 12, 0.8999999762);
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contact-us--Q2T .footer-wj5 .frame-138-gAs .frame-137-nj1 .frame-136-tn3 .frame-160-FsV .button--t9m {
  width: 11.8rem;
  height: 100%;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3025;
  letter-spacing: 0.054rem;
  color: #fafafa;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(12, 12, 12, 0.8999999762);
  border-radius: 2rem;
  flex-shrink: 0;
}
.contact-us--Q2T .footer-wj5 .line-4-kBy {
  margin: 0rem 0rem 2.895rem 0.4rem;
  width: 140rem;
  height: 0.1rem;
  background-color: rgba(244, 244, 244, 0.400000006);
  flex-shrink: 0;
}
.contact-us--Q2T .footer-wj5 .frame-150-4Cf {
  margin-right: 0.4rem;
  height: 6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.contact-us--Q2T .footer-wj5 .frame-150-4Cf .frame-57-17u {
  margin-right: 18rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.contact-us--Q2T .footer-wj5 .frame-150-4Cf .frame-57-17u .copyright-by-m75 {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.1725;
  color: #f4f4f4;
  font-family: Roboto Serif, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contact-us--Q2T .footer-wj5 .frame-150-4Cf .frame-57-17u .designed-by-iconsticacom-WKZ {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3025;
  letter-spacing: 0.048rem;
  color: #f4f4f4;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contact-us--Q2T .footer-wj5 .frame-150-4Cf .frame-140-RhR {
  margin-right: 18.1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.contact-us--Q2T .footer-wj5 .frame-150-4Cf .frame-140-RhR .contact-us-P8T {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.1725;
  color: #f4f4f4;
  font-family: Roboto Serif, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contact-us--Q2T .footer-wj5 .frame-150-4Cf .frame-140-RhR .item-0-12-457-4578-jCK {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3025;
  letter-spacing: 0.048rem;
  color: #f4f4f4;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contact-us--Q2T .footer-wj5 .frame-150-4Cf .frame-139-eq5 {
  margin-right: 17.9rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.contact-us--Q2T .footer-wj5 .frame-150-4Cf .frame-139-eq5 .address-oT5 {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.1725;
  color: #f4f4f4;
  font-family: Roboto Serif, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contact-us--Q2T .footer-wj5 .frame-150-4Cf .frame-139-eq5 .tanglewood-lane-gulfport-ms-39503-YfZ {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3025;
  letter-spacing: 0.048rem;
  color: #f4f4f4;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contact-us--Q2T .footer-wj5 .frame-150-4Cf .frame-149-sSw {
  margin: 0.5rem 0;
  height: calc(100% - 1rem);
  display: flex;
  column-gap: 2.9rem;
  align-items: center;
  flex-shrink: 0;
}
.contact-us--Q2T .footer-wj5 .frame-150-4Cf .frame-149-sSw .frame-141-cQX {
  width: 5rem;
  height: 5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.contact-us--Q2T .footer-wj5 .frame-150-4Cf .frame-149-sSw .frame-142-Zaf {
  width: 5rem;
  height: 5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.contact-us--Q2T .footer-wj5 .frame-150-4Cf .frame-149-sSw .frame-143-7cB {
  width: 5rem;
  height: 5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
