
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.contact-us--Q2T {
  padding-top: 2.15rem;
  align-items: center;
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: #ffffff;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;

  .main-section-wYB {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin: 0rem 26rem 10rem 26rem;
    width: calc(100% - 52rem);

    .frame-54-fUB {
      width: calc(100% - 1.3448rem);
      height: 4.7rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 1.045rem 8.85rem 0.3rem;

      .auto-group-j9my-zFZ {
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.351rem 44.4rem 0.351rem 0rem;
        height: 100%;
        display: flex;
        align-items: center;

        .group-9-ixF {
          padding-left: 0.0205rem;
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin-right: 34.6118rem;
          box-sizing: border-box;

          .logo-4FR {
            margin-right: 1.0205rem;
            width: 4.0024rem;
            height: 3.9971rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .canvix-zPy {
            font-family: Roboto Serif, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-top: 0.0835rem;
            font-size: 3rem;
            font-weight: 600;
            line-height: 1.1725;
            color: rgba(12, 12, 12, 0.8999999762);
          }
        }
        .navigation--WNK {
          margin: 0.699rem 0rem 0.599rem 0rem;
          height: calc(100% - 1.2971rem);
          display: flex;
          column-gap: 4rem;
          align-items: center;
          flex-shrink: 0;

          .home-2rT {
            flex-shrink: 0;
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.3025;
            color: rgba(12, 12, 12, 0.8999999762);
            font-family: DM Sans, 'Source Sans Pro';
            white-space: nowrap;
          }
          .about-NQX {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.3025;
            color: rgba(12, 12, 12, 0.8999999762);
            font-family: DM Sans, 'Source Sans Pro';
          }
          .contact-us-7N7 {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.3025;
            color: rgba(12, 12, 12, 0.8999999762);
            font-family: DM Sans, 'Source Sans Pro';
          }
        }
      }
      .button--FDR {
        white-space: nowrap;
        justify-content: center;
        letter-spacing: 0.054rem;
        font-family: DM Sans, 'Source Sans Pro';
        align-items: center;
        border-radius: 2.3rem;
        flex-shrink: 0;
        font-size: 1.8rem;
        font-weight: 400;
        display: flex;
        height: 100%;
        color: #fafafa;
        background-color: rgba(12, 12, 12, 0.8999999762);
        width: 13.9rem;
        line-height: 1.3025;
      }
    }
    .group-1000003531-KUB {
      margin-bottom: 10.3341rem;
      width: 100%;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .auto-group-kei3-G8X {
        margin-right: 20.4rem;
        width: 40.1rem;
        flex-shrink: 0;

        .frame-1000003542-ou9 {
          padding-bottom: 3.3rem;
          width: 100%;
          display: flex;
          flex-direction: column;
          border-bottom: solid 0.1rem #dedede;
          margin-bottom: 1.8rem;
          box-sizing: border-box;

          .frame-1000003537-Y63 {
            margin-bottom: 0.7rem;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .lets-talk-HZR {
              flex-shrink: 0;
              margin-bottom: 3.1rem;
              font-size: 6.4rem;
              font-weight: 600;
              line-height: 1.1725;
              color: #0c0c0c;
              font-family: Roboto Serif, 'Source Sans Pro';
              white-space: nowrap;
            }
            .we-collaborate-with-thousands-of-creators-entrepreneurs-and-complete-legends-CAb {
              flex-shrink: 0;
              max-width: 38.1rem;
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 1.3025;
              letter-spacing: 0.054rem;
              color: rgba(12, 12, 12, 0.8999999762);
              font-family: DM Sans, 'Source Sans Pro';
            }
          }
          .line-7-gLf {
            margin-bottom: 3.2rem;
            width: 100%;
            height: 0.1rem;
            background-color: #dedede;
            flex-shrink: 0;
          }
          .frame-1000003541-dFu {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin-bottom: 3.2rem;
            width: 23.4rem;
            align-items: center;

            .frame-1000003538-md1 {
              width: 100%;
              height: 5rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .frame-1000003533-8Cf {
                margin-right: 2.6rem;
                width: 5rem;
                height: 5rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .frame-1000003560-sAF {
                margin: 0.25rem 0;
                height: calc(100% - 0.5rem);
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .our-email-cNj {
                  font-size: 2rem;
                  font-weight: 600;
                  line-height: 1.1725;
                  color: #0c0c0c;
                  font-family: Roboto Serif, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
                .helloexamplecom-YGP {
                  letter-spacing: 0.048rem;
                  color: rgba(12, 12, 12, 0.8999999762);
                  font-family: DM Sans, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1.3025;
                }
              }
            }
            .auto-group-y64f-eqD {
              flex-shrink: 0;
              box-sizing: border-box;
              padding-top: 2rem;
              width: 100%;
              display: flex;
              flex-direction: column;

              .frame-1000003541-zeB {
                margin: 0rem 4.4rem 2rem 0rem;
                width: calc(100% - 4.4rem);
                height: 5rem;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .frame-1000003539-iKH {
                  flex-shrink: 0;
                  margin-right: 2.6rem;
                  width: 5rem;
                  height: 5rem;
                  object-fit: contain;
                  vertical-align: top;
                }
                .frame-1000003560-FKD {
                  margin: 0.25rem 0;
                  height: calc(100% - 0.5rem);
                  display: flex;
                  flex-direction: column;
                  flex-shrink: 0;

                  .call-us-PgK {
                    font-size: 2rem;
                    font-weight: 600;
                    line-height: 1.1725;
                    color: #0c0c0c;
                    font-family: Roboto Serif, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                  }
                  .item-123-456-7892-8to {
                    letter-spacing: 0.048rem;
                    color: rgba(12, 12, 12, 0.8999999762);
                    font-family: DM Sans, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    font-size: 1.6rem;
                    font-weight: 400;
                    line-height: 1.3025;
                  }
                }
              }
              .frame-1000003540-eMM {
                height: 5rem;
                display: flex;
                align-items: center;
                flex-shrink: 0;
                margin-right: 0.5rem;
                width: calc(100% - 0.5rem);

                .frame-1000003535-P43 {
                  width: 5rem;
                  height: 5rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-right: 2.9rem;
                }
                .frame-1000003560-Xg3 {
                  margin: 0.25rem 0;
                  height: calc(100% - 0.5rem);
                  display: flex;
                  flex-direction: column;
                  flex-shrink: 0;

                  .find-us-5xT {
                    flex-shrink: 0;
                    font-size: 2rem;
                    font-weight: 600;
                    line-height: 1.1725;
                    color: #0c0c0c;
                    font-family: Roboto Serif, 'Source Sans Pro';
                    white-space: nowrap;
                  }
                  .open-google-maps-2sh {
                    font-size: 1.6rem;
                    font-weight: 400;
                    line-height: 1.3025;
                    letter-spacing: 0.048rem;
                    color: rgba(12, 12, 12, 0.8999999762);
                    font-family: DM Sans, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                  }
                }
              }
            }
          }
        }
        .frame-1000003559-LdV {
          display: flex;
          align-items: flex-start;

          .vector-J4X {
            flex-shrink: 0;
            margin-right: 4rem;
            width: 1.2rem;
            height: 2.16rem;
            object-fit: contain;
            vertical-align: top;
          }
          .group-1000003538-qKM {
            margin-right: 4.015rem;
            width: 2.285rem;
            height: 2.285rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .group-1000003541-mTu {
            flex-shrink: 0;
            width: 2.285rem;
            height: 2.285rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
          }
        }
      }
      .frame-1000003531-JCw {
        flex-shrink: 0;
        margin-top: 0.5006rem;
        box-sizing: border-box;
        padding: 4.449rem 4rem 4.449rem 4rem;
        width: 79.5rem;
        height: 52.1652rem;
        background-color: #f4f4f4;
        border-radius: 2rem;

        .frame-1000003545-pBH {
          flex-direction: column;
          width: 100%;
          height: 100%;
          display: flex;

          .auto-group-okbd-mMR {
            width: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;
            padding-bottom: 5.5rem;

            .frame-1000003528-uyR {
              width: calc(100% - 0.0997rem);
              height: 7.4rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin: 0rem 0.1rem 5.5rem 0rem;

              .frame-1000003543-eAK {
                flex-shrink: 0;
                margin-right: 6.4002rem;
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 1.3025;
                color: #0c0c0c;
                font-family: DM Sans, 'Source Sans Pro';
                border-bottom: solid 0.1rem #dedede;
                width: 32.4998rem;
                height: 100%;
                letter-spacing: 0.054rem;
                white-space: nowrap;
                box-sizing: border-box;
              }
              .frame-1000003544-LYw {
                box-sizing: border-box;
                flex-shrink: 0;
                width: 32.4998rem;
                font-size: 1.8rem;
                font-weight: 400;
                color: #0c0c0c;
                white-space: nowrap;
                height: 100%;
                line-height: 1.3025;
                letter-spacing: 0.054rem;
                font-family: DM Sans, 'Source Sans Pro';
                border-bottom: solid 0.1rem #dedede;
              }
            }
            .frame-1000003529-SM5 {
              margin-right: 0.0997rem;
              width: calc(100% - 0.0997rem);
              height: 7.4rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .frame-1000003543-aCP {
                height: 100%;
                font-weight: 400;
                width: 32.4998rem;
                font-size: 1.8rem;
                line-height: 1.3025;
                letter-spacing: 0.054rem;
                color: #0c0c0c;
                font-family: DM Sans, 'Source Sans Pro';
                white-space: nowrap;
                border-bottom: solid 0.1rem #dedede;
                margin-right: 6.4002rem;
                flex-shrink: 0;
                box-sizing: border-box;
              }
              .frame-1000003544-fjd {
                letter-spacing: 0.054rem;
                font-family: DM Sans, 'Source Sans Pro';
                box-sizing: border-box;
                flex-shrink: 0;
                height: 100%;
                font-size: 1.8rem;
                line-height: 1.3025;
                white-space: nowrap;
                border-bottom: solid 0.1rem #dedede;
                width: 32.4998rem;
                font-weight: 400;
                color: #0c0c0c;
              }
            }
          }
          .frame-1000003543-xyd {
            box-sizing: border-box;
            width: 100%;
            height: 7.4rem;
            font-size: 1.8rem;
            color: #0c0c0c;
            font-family: DM Sans, 'Source Sans Pro';
            white-space: nowrap;
            border-bottom: solid 0.1rem #dedede;
            margin-bottom: 5.3668rem;
            font-weight: 400;
            line-height: 1.3025;
            letter-spacing: 0.054rem;
            flex-shrink: 0;
          }
          .button--4mm {
            display: flex;
            justify-content: center;
            flex-shrink: 0;
            width: 13.6rem;
            font-size: 1.8rem;
            color: #fafafa;
            white-space: nowrap;
            height: 4.7rem;
            line-height: 1.3025;
            letter-spacing: 0.054rem;
            border-radius: 2.3rem;
            font-weight: 400;
            font-family: DM Sans, 'Source Sans Pro';
            align-items: center;
            background-color: rgba(12, 12, 12, 0.8999999762);
          }
        }
      }
    }
    .map-8Fq {
      width: 100%;
      border-radius: 2rem;
      flex-shrink: 0;

      .image-1-gYF {
        background-image: url('REPLACE_IMAGE:655e3a1a7292e5213ebd9096842f08fa5d88aba7');
        border-radius: 2rem;
        width: 140rem;
        height: 31.4rem;
        position: relative;
        background-size: 100.861% 102.625%;
        background-position: -1.205rem -0.4667rem;
      }
    }
  }
  .footer-wj5 {
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 10rem 25.6rem 6rem 26rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #0c0c0c;

    .frame-138-gAs {
      margin: 0rem 1.8rem 10.105rem 0rem;
      height: 25.3rem;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .frame-135-oWP {
        width: 33.1rem;
        flex-shrink: 0;
        margin-right: 13.1rem;

        .logo-kgX {
          margin: 0rem 12.27rem 2.4rem 0rem;
          box-sizing: border-box;
          padding-left: 0.0265rem;
          width: calc(100% - 12.2695rem);
          display: flex;
          align-items: center;

          .logo-5io {
            width: 5.1778rem;
            height: 5.2rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.3261rem;
          }
          .canvix-pwH {
            font-size: 3.8822rem;
            font-weight: 600;
            line-height: 1.1725;
            color: #ffffff;
            font-family: Roboto Serif, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-top: 0.0253rem;
          }
        }
        .were-a-team-of-strategic-creator-and-digital-innovator-united-focus-in-our-pursuit-of-mastery-and-joyful-xGo {
          color: #ffffff;
          font-family: DM Sans, 'Source Sans Pro';
          max-width: 33.1rem;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.3025;
          letter-spacing: 0.054rem;
        }
      }
      .pages--2nT {
        margin-right: 10.4rem;
        width: 11.8rem;
        height: 100%;
        flex-shrink: 0;

        .pages-nWj {
          margin-bottom: 2.3rem;
          font-size: 2rem;
          font-weight: 600;
          line-height: 1.1725;
          color: #ffffff;
          font-family: Roboto Serif, 'Source Sans Pro';
          white-space: nowrap;
        }
        .frame-118-XUK {
          width: 100%;
          row-gap: 1.6rem;
          display: flex;
          flex-direction: column;

          .home-fqR {
            font-weight: 400;
            line-height: 1.3025;
            letter-spacing: 0.048rem;
            color: #f4f4f4;
            font-family: DM Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
          }
          .home-2-QY7 {
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.3025;
            letter-spacing: 0.048rem;
            color: #f4f4f4;
            font-family: DM Sans, 'Source Sans Pro';
            white-space: nowrap;
          }
          .about-9Eo {
            font-family: DM Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.3025;
            letter-spacing: 0.048rem;
            color: #f4f4f4;
          }
          .conatct-us-6A3 {
            letter-spacing: 0.048rem;
            color: #f4f4f4;
            font-family: DM Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.3025;
          }
          .portfolio-EX9 {
            letter-spacing: 0.048rem;
            color: #f4f4f4;
            font-family: DM Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.3025;
          }
          .portfolio-single-yjd {
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.3025;
            letter-spacing: 0.048rem;
            color: #f4f4f4;
            font-family: DM Sans, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
      }
      .utility-pages--iSK {
        height: 100%;
        flex-shrink: 0;
        margin-right: 9.9rem;
        width: 16.2rem;

        .utility-pages-UAb {
          font-weight: 600;
          line-height: 1.1725;
          color: #ffffff;
          font-family: Roboto Serif, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 2.3rem;
          font-size: 2rem;
        }
        .frame-118-oif {
          flex-direction: column;
          width: 100%;
          row-gap: 1.6rem;
          display: flex;

          .style-guide-Yw9 {
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.3025;
            letter-spacing: 0.048rem;
            color: #f4f4f4;
            font-family: DM Sans, 'Source Sans Pro';
            white-space: nowrap;
          }
          .instruction-tk7 {
            letter-spacing: 0.048rem;
            color: #f4f4f4;
            font-family: DM Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.3025;
          }
          .license-SFq {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.3025;
            letter-spacing: 0.048rem;
            color: #f4f4f4;
            font-family: DM Sans, 'Source Sans Pro';
          }
          .changelog-Ahd {
            font-family: DM Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.3025;
            letter-spacing: 0.048rem;
            color: #f4f4f4;
          }
          .error-404-hxT {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.3025;
            letter-spacing: 0.048rem;
            color: #f4f4f4;
            font-family: DM Sans, 'Source Sans Pro';
          }
          .password-protected-esh {
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.3025;
            letter-spacing: 0.048rem;
            color: #f4f4f4;
            font-family: DM Sans, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
      }
      .frame-137-nj1 {
        width: 43.3rem;
        flex-shrink: 0;

        .subscribe-x7h {
          margin-bottom: 1.8rem;
          font-size: 2rem;
          font-weight: 600;
          line-height: 1.1725;
          color: #ffffff;
          font-family: Roboto Serif, 'Source Sans Pro';
          white-space: nowrap;
        }
        .frame-136-tn3 {
          width: 100%;
          height: 6.7rem;
          border-radius: 2rem;

          .frame-160-FsV {
            height: 100%;
            display: flex;
            align-items: center;
            background-color: #ffffff;
            border-radius: 4rem;
            box-sizing: border-box;
            padding: 1rem 1rem 1rem 2.3rem;
            width: 100%;

            .enter-your-email-here-bRZ {
              margin: 0.1rem 9.3rem 0rem 0rem;
              font-weight: 400;
              line-height: 1.3025;
              color: rgba(12, 12, 12, 0.8999999762);
              font-family: DM Sans, 'Source Sans Pro';
              font-size: 1.8rem;
              letter-spacing: 0.054rem;
              white-space: nowrap;
              flex-shrink: 0;
            }
            .button--t9m {
              align-items: center;
              background-color: rgba(12, 12, 12, 0.8999999762);
              height: 100%;
              font-weight: 400;
              white-space: nowrap;
              display: flex;
              color: #fafafa;
              width: 11.8rem;
              font-size: 1.8rem;
              line-height: 1.3025;
              letter-spacing: 0.054rem;
              font-family: DM Sans, 'Source Sans Pro';
              border-radius: 2rem;
              justify-content: center;
              flex-shrink: 0;
            }
          }
        }
      }
    }
    .line-4-kBy {
      flex-shrink: 0;
      margin: 0rem 0rem 2.895rem 0.4rem;
      width: 140rem;
      height: 0.1rem;
      background-color: rgba(244, 244, 244, 0.400000006);
    }
    .frame-150-4Cf {
      margin-right: 0.4rem;
      height: 6rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .frame-57-17u {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 18rem;
        height: 100%;

        .copyright-by-m75 {
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.5rem;
          font-size: 2rem;
          font-weight: 600;
          line-height: 1.1725;
          color: #f4f4f4;
          font-family: Roboto Serif, 'Source Sans Pro';
        }
        .designed-by-iconsticacom-WKZ {
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.3025;
          letter-spacing: 0.048rem;
          color: #f4f4f4;
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .frame-140-RhR {
        margin-right: 18.1rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .contact-us-P8T {
          color: #f4f4f4;
          font-family: Roboto Serif, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.5rem;
          font-size: 2rem;
          font-weight: 600;
          line-height: 1.1725;
        }
        .item-0-12-457-4578-jCK {
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.3025;
          letter-spacing: 0.048rem;
          color: #f4f4f4;
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .frame-139-eq5 {
        margin-right: 17.9rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .address-oT5 {
          margin-bottom: 1.5rem;
          font-size: 2rem;
          font-weight: 600;
          line-height: 1.1725;
          color: #f4f4f4;
          font-family: Roboto Serif, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .tanglewood-lane-gulfport-ms-39503-YfZ {
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.3025;
          letter-spacing: 0.048rem;
          color: #f4f4f4;
        }
      }
      .frame-149-sSw {
        margin: 0.5rem 0;
        height: calc(100% - 1rem);
        display: flex;
        column-gap: 2.9rem;
        align-items: center;
        flex-shrink: 0;

        .frame-141-cQX {
          height: 5rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          width: 5rem;
        }
        .frame-142-Zaf {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          width: 5rem;
          height: 5rem;
        }
        .frame-143-7cB {
          width: 5rem;
          height: 5rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
  }
}
