
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.project-detail-o6o {
  width: 100%;
  position: relative;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  padding-bottom: 0.1rem;
  overflow: hidden;
  display: flex;
  background-color: #ffffff;

  .auto-group-pgqd-iDm {
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 2.15rem 26rem 9.9rem 25.4rem;
    width: 100%;
    row-gap: 10rem;
    align-items: center;
    display: flex;

    .hero-R8B {
      margin: 0rem 0.4rem 0rem 0.2rem;
      width: calc(100% - 0.6rem);
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .frame-54-Yib {
        height: 4.7rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 0.645rem 2.95rem 0.7rem;
        width: calc(100% - 1.3448rem);

        .auto-group-or6b-4S3 {
          box-sizing: border-box;
          padding: 0.351rem 44.4rem 0.351rem 0rem;
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .group-9-C2T {
            margin-right: 34.6118rem;
            box-sizing: border-box;
            padding-left: 0.0205rem;
            height: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .logo-Kcs {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1.0205rem;
              width: 4.0024rem;
              height: 3.9971rem;
              position: relative;
            }
            .canvix-WxF {
              font-size: 3rem;
              font-weight: 600;
              line-height: 1.1725;
              color: rgba(12, 12, 12, 0.8999999762);
              font-family: Roboto Serif, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-top: 0.0835rem;
            }
          }
          .navigation--pCF {
            column-gap: 4rem;
            align-items: center;
            flex-shrink: 0;
            margin: 0.699rem 0rem 0.599rem 0rem;
            height: calc(100% - 1.2971rem);
            display: flex;

            .home-8ij {
              font-size: 2rem;
              font-weight: 400;
              line-height: 1.3025;
              color: rgba(12, 12, 12, 0.8999999762);
              font-family: DM Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .about-Ga3 {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2rem;
              font-weight: 400;
              line-height: 1.3025;
              color: rgba(12, 12, 12, 0.8999999762);
              font-family: DM Sans, 'Source Sans Pro';
            }
            .contact-us-pLf {
              font-family: DM Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2rem;
              font-weight: 400;
              line-height: 1.3025;
              color: rgba(12, 12, 12, 0.8999999762);
            }
          }
        }
        .button--M5h {
          width: 13.9rem;
          color: #fafafa;
          justify-content: center;
          white-space: nowrap;
          display: flex;
          background-color: rgba(12, 12, 12, 0.8999999762);
          height: 100%;
          font-size: 1.8rem;
          font-weight: 400;
          flex-shrink: 0;
          line-height: 1.3025;
          letter-spacing: 0.054rem;
          font-family: DM Sans, 'Source Sans Pro';
          align-items: center;
          border-radius: 2.3rem;
        }
      }
      .auto-group-bnj1-DNo {
        width: 100%;
        height: 64.4rem;
        position: relative;
        flex-shrink: 0;

        .rectangle-2-NWb {
          width: 140rem;
          height: 59rem;
          position: relative;
          top: 0;
          background-position: -0.3909rem -13.9433rem;
          left: 0;
          background-size: 100.636% 158.379%;
          background-image: url('REPLACE_IMAGE:b701f9bcd7311f5c3c28d6e631ab9a8817cee5ae');
          border-radius: 2rem;
        }
        .frame-194-quy {
          width: 110.2rem;
          height: 9.7rem;
          position: absolute;
          left: 17.2rem;
          top: 54.7rem;
          display: flex;
          column-gap: 4.5rem;
          align-items: center;

          .frame-189-N9D {
            padding: 2rem 3rem 1.9rem 3rem;
            width: 18.8rem;
            height: 100%;
            background-color: #0c0c0c;
            border-radius: 1.5rem;
            flex-shrink: 0;
            box-sizing: border-box;

            .frame-211-Vjd {
              width: 100%;
              height: 100%;
              display: flex;
              flex-direction: column;

              .category--rKH {
                flex-shrink: 0;
                margin-bottom: 1rem;
                font-size: 2rem;
                font-weight: 600;
                line-height: 1.1725;
                color: #ffffff;
                font-family: Roboto Serif, 'Source Sans Pro';
                white-space: nowrap;
              }
              .cloud-solution-PKD {
                font-family: DM Sans, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 1.3025;
                letter-spacing: 0.054rem;
                color: #ffffff;
              }
            }
          }
          .frame-190-6jR {
            box-sizing: border-box;
            padding: 2rem 1.9rem 1.9rem 3rem;
            height: 100%;
            display: flex;
            flex-direction: column;
            background-color: #0c0c0c;
            border-radius: 1.5rem;
            flex-shrink: 0;

            .client-Eqd {
              flex-shrink: 0;
              margin-bottom: 1rem;
              font-size: 2rem;
              font-weight: 600;
              line-height: 1.1725;
              color: #ffffff;
              font-family: Roboto Serif, 'Source Sans Pro';
              white-space: nowrap;
            }
            .brightmedia-solutions-BVy {
              letter-spacing: 0.054rem;
              color: #ffffff;
              font-family: DM Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 1.3025;
            }
          }
          .frame-191-uRy {
            width: 20.3rem;
            height: 100%;
            background-color: #0c0c0c;
            border-radius: 1.5rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 2rem 2.9rem 1.9rem 3rem;

            .frame-193-Rv7 {
              width: 100%;
              height: 100%;
              display: flex;
              flex-direction: column;

              .date--zTR {
                line-height: 1.1725;
                color: #ffffff;
                font-family: Roboto Serif, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 1rem;
                font-size: 2rem;
                font-weight: 600;
              }
              .august-23-2023-XCT {
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 1.3025;
                letter-spacing: 0.054rem;
                color: #ffffff;
                font-family: DM Sans, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
          }
          .frame-192-2f1 {
            height: 100%;
            display: flex;
            flex-direction: column;
            background-color: #0c0c0c;
            border-radius: 1.5rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 2rem 0rem 1.9rem 3rem;

            .location--NTy {
              margin-bottom: 1rem;
              font-size: 2rem;
              font-weight: 600;
              line-height: 1.1725;
              color: #ffffff;
              font-family: Roboto Serif, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .depot-road-midland-iXq {
              flex-shrink: 0;
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 1.3025;
              letter-spacing: 0.054rem;
              color: #ffffff;
              font-family: DM Sans, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
        }
      }
    }
    .frame-1000003546-DjV {
      margin-left: 0.5894rem;
      width: 139.9894rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .frame-199-xSB {
        margin: 0rem 0.089rem 7.8rem 0rem;
        width: 139.9rem;
        flex-shrink: 0;

        .frame-197-6HV {
          margin-bottom: 4.6rem;
          width: 100%;
          display: flex;
          flex-direction: column;

          .the-challenge-3Td {
            flex-shrink: 0;
            margin-bottom: 2.3rem;
            font-size: 2rem;
            font-weight: 600;
            line-height: 1.1725;
            color: #0c0c0c;
            font-family: Roboto Serif, 'Source Sans Pro';
            white-space: nowrap;
          }
          .when-our-power-of-choice-is-untrammeled-and-when-nothing-prevents-us-from-being-able-to-do-what-we-like-best-every-pleasure-is-to-be-welcomed-and-every-pain-avoided-but-in-certain-circumstances-and-owing-to-the-claims-of-duty-or-the-obligations-of-business-it-will-frequently-occur-that-pleasures-have-to-be-repudiated-and-annoyances-accepted-the-wise-man-therefore-always-holds-in-these-matters-to-this-principle-of-selection-he-rejects-pleasures-to-secure-other-greater-pleasures-or-else-he-endures-pains-to-avoid-worse-pains-aCf {
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.3025;
            letter-spacing: 0.054rem;
            color: rgba(12, 12, 12, 0.8999999762);
            font-family: DM Sans, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 139.9rem;
          }
        }
        .frame-196-gf1 {
          margin-bottom: 4.5rem;
          width: 137.8rem;

          .frame-195-EgX {
            margin-bottom: 3.1rem;
            width: 100%;
            display: flex;
            flex-direction: column;

            .the-solution-PZR {
              font-size: 2rem;
              font-weight: 600;
              line-height: 1.1725;
              color: #0c0c0c;
              font-family: Roboto Serif, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 2.3rem;
            }
            .temporibus-autem-quibusdam-et-aut-officiis-debitis-aut-rerum-necessitatibus-saepe-eveniet-ut-et-voluptates-repudiandae-sint-et-molestiae-non-recusandae-itaque-earum-rerum-hic-tenetur-a-sapiente-delectus-ut-aut-reiciendis-voluptatibus-maiores-alias-consequatur-aut-perferendis-doloribus-asperiores-repellat-Kxs {
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 1.3025;
              letter-spacing: 0.054rem;
              color: rgba(12, 12, 12, 0.8999999762);
              font-family: DM Sans, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 137.8rem;
            }
          }
          .one-who-avoids-a-pain-that-produces-no-resultant-pleasure-laborious-physical-exercise-one-who-avoids-a-pain-that-produces-no-resultant-which-of-us-ever-undertakes-laborious-avoids-pleasure-itself-because-it-is-iVD {
            font-family: DM Sans, 'Source Sans Pro';
            max-width: 52.7rem;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.3025;
            letter-spacing: 0.054rem;
            color: rgba(12, 12, 12, 0.8999999762);
          }
        }
        .frame-198-9qR {
          width: 100%;
          display: flex;
          flex-direction: column;

          .the-result-Wfy {
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 2.3rem;
            font-size: 2rem;
            font-weight: 600;
            line-height: 1.1725;
            color: #0c0c0c;
            font-family: Roboto Serif, 'Source Sans Pro';
          }
          .because-it-is-pain-but-because-occasionally-circumstances-occur-in-which-toil-and-pain-can-procure-him-some-great-pleasure-to-take-a-trivial-example-which-of-us-ever-undertakes-laborious-physical-exercise-except-to-obtain-some-advantage-from-it-but-who-has-any-right-to-find-fault-with-a-man-who-chooses-to-enjoy-a-pleasure-that-has-no-annoying-consequences-or-one-who-avoids-a-pain-that-produces-no-resultant-pleasure-FNf {
            font-size: 1.8rem;
            margin-bottom: 2.2rem;
            max-width: 139.9rem;
            font-weight: 400;
            line-height: 1.3025;
            letter-spacing: 0.054rem;
            color: rgba(12, 12, 12, 0.8999999762);
            font-family: DM Sans, 'Source Sans Pro';
            flex-shrink: 0;
          }
          .when-our-power-of-choice-is-untrammeled-and-when-nothing-prevents-us-from-being-able-to-do-what-we-like-best-every-pleasure-is-to-be-welcomed-and-every-pain-avoided-but-in-certain-circumstances-and-owing-to-the-claims-of-duty-or-the-obligations-of-business-it-will-frequently-occur-that-pleasures-have-to-be-repudiated-and-annoyances-accepted-the-wise-man-therefore-always-holds-in-these-matters-to-this-principle-of-selection-he-rejects-pleasures-to-secure-other-greater-pleasures-or-else-he-endures-pains-to-avoid-worse-pains-PNP {
            font-weight: 400;
            line-height: 1.3025;
            letter-spacing: 0.054rem;
            color: rgba(12, 12, 12, 0.8999999762);
            font-family: DM Sans, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 139.9rem;
            font-size: 1.8rem;
          }
        }
      }
      .frame-68-7Bu {
        display: flex;
        column-gap: 7.4rem;
        align-items: center;
        flex-shrink: 0;
        width: 100%;

        .rectangle-37-G4o {
          width: 41.7298rem;
          height: 40rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 2rem;
          flex-shrink: 0;
        }
        .rectangle-38-o4j {
          width: 41.7298rem;
          height: 40rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 2rem;
          flex-shrink: 0;
        }
        .rectangle-39-wAw {
          flex-shrink: 0;
          width: 41.7298rem;
          height: 40rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 2rem;
        }
      }
    }
    .frame-214-52F {
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .recent-projects-qXD {
        margin: 0rem 0rem 7.9rem 0.6rem;
        text-align: center;
        font-size: 6.4rem;
        line-height: 1.1725;
        color: #0c0c0c;
        font-family: Roboto Serif, 'Source Sans Pro';
        font-weight: 600;
        white-space: nowrap;
        flex-shrink: 0;
      }
      .frame-209-wKM {
        height: 53.5rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        width: 100%;

        .frame-131-tVV {
          height: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .rectangle-20-qQj {
            border-radius: 2rem;
            height: 45rem;
            position: relative;
            background-size: 153.733% 102%;
            background-image: url('REPLACE_IMAGE:ba7213b1612b46a781c9da6a0bc9ae3d8c52a0b8');
            margin: 0rem 0rem 1.6rem 0.6rem;
            width: 44.2rem;
            background-position: -23.2rem -0.2rem;
            flex-shrink: 0;
          }
          .frame-132-t87 {
            width: 22.8rem;
            flex-shrink: 0;

            .web-ui-design-SQX {
              margin-bottom: 0.9rem;
              width: 100%;
              text-align: center;
              line-height: 1.1725;
              color: #0c0c0c;
              white-space: nowrap;
              font-size: 3rem;
              font-weight: 600;
              font-family: Roboto Serif, 'Source Sans Pro';
            }
            .creative-ui-design-kw1 {
              font-size: 1.8rem;
              letter-spacing: 0.054rem;
              color: rgba(12, 12, 12, 0.8999999762);
              font-family: DM Sans, 'Source Sans Pro';
              width: 100%;
              text-align: center;
              font-weight: 400;
              line-height: 1.3025;
              white-space: nowrap;
            }
          }
        }
        .auto-group-fves-fo5 {
          padding-left: 3.3rem;
          height: 100%;
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;
          box-sizing: border-box;

          .frame-130-1c3 {
            margin-right: 4.3rem;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .auto-group-6fct-mLK {
              margin: 0rem 0rem 1.6rem 1.4rem;
              background-color: rgba(0, 0, 0, 0.200000003);
              background-position: center;
              border-radius: 2rem;
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 20rem 18.6rem;
              background-size: 100% 100%;
              background-repeat: no-repeat;
              background-image: url('REPLACE_IMAGE:b701f9bcd7311f5c3c28d6e631ab9a8817cee5ae');

              .frame-3-5ro {
                object-fit: contain;
                vertical-align: top;
                width: 5rem;
                height: 5rem;
              }
            }
            .frame-129-Bew {
              width: 41.4rem;
              flex-shrink: 0;

              .to-design-digital-strategy-9Ls {
                text-align: center;
                font-weight: 600;
                font-family: Roboto Serif, 'Source Sans Pro';
                margin-bottom: 0.7rem;
                width: 100%;
                font-size: 3rem;
                line-height: 1.1725;
                color: #0c0c0c;
                white-space: nowrap;
              }
              .social-media-marketing-sGs {
                width: 100%;
                text-align: center;
                line-height: 1.3025;
                letter-spacing: 0.054rem;
                color: rgba(12, 12, 12, 0.8999999762);
                font-size: 1.8rem;
                font-weight: 400;
                font-family: DM Sans, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
          }
          .frame-128-aBH {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .rectangle-23-Y87 {
              width: 44.2rem;
              position: relative;
              border-radius: 2rem;
              background-position: -3.5827rem -0rem;
              background-image: url('REPLACE_IMAGE:de80619de4c654e21703ebf15f9af5f9c2c24500');
              flex-shrink: 0;
              margin: 0rem 0rem 1.6rem 0.4rem;
              height: 45rem;
              background-size: 157.84% 100%;
            }
            .frame-133-cNs {
              flex-shrink: 0;
              width: 25.5rem;

              .ui-design-NN3 {
                width: 100%;
                font-size: 3rem;
                font-family: Roboto Serif, 'Source Sans Pro';
                white-space: nowrap;
                margin-bottom: 0.7rem;
                text-align: center;
                font-weight: 600;
                line-height: 1.1725;
                color: #0c0c0c;
              }
              .creative-rebranding-for-logo-hfD {
                font-size: 1.8rem;
                white-space: nowrap;
                width: 100%;
                text-align: center;
                letter-spacing: 0.054rem;
                color: rgba(12, 12, 12, 0.8999999762);
                font-family: DM Sans, 'Source Sans Pro';
                font-weight: 400;
                line-height: 1.3025;
              }
            }
          }
        }
      }
    }
  }
  .footer-PY3 {
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 10rem 25.6rem 6rem 26rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #0c0c0c;

    .frame-138-eym {
      align-items: flex-start;
      flex-shrink: 0;
      margin: 0rem 1.8rem 10.105rem 0rem;
      height: 25.3rem;
      display: flex;

      .frame-135-kG7 {
        margin-right: 13.1rem;
        width: 33.1rem;
        flex-shrink: 0;

        .logo-4Go {
          padding-left: 0.0265rem;
          width: calc(100% - 12.2695rem);
          display: flex;
          align-items: center;
          margin: 0rem 12.27rem 2.4rem 0rem;
          box-sizing: border-box;

          .logo-Lk7 {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.3261rem;
            width: 5.1778rem;
            height: 5.2rem;
            position: relative;
          }
          .canvix-eVu {
            white-space: nowrap;
            flex-shrink: 0;
            margin-top: 0.0253rem;
            font-size: 3.8822rem;
            font-weight: 600;
            line-height: 1.1725;
            color: #ffffff;
            font-family: Roboto Serif, 'Source Sans Pro';
          }
        }
        .were-a-team-of-strategic-creator-and-digital-innovator-united-focus-in-our-pursuit-of-mastery-and-joyful-k39 {
          font-family: DM Sans, 'Source Sans Pro';
          max-width: 33.1rem;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.3025;
          letter-spacing: 0.054rem;
          color: #ffffff;
        }
      }
      .pages--jQs {
        margin-right: 10.4rem;
        width: 11.8rem;
        height: 100%;
        flex-shrink: 0;

        .pages-g5D {
          margin-bottom: 2.3rem;
          font-size: 2rem;
          font-weight: 600;
          line-height: 1.1725;
          color: #ffffff;
          font-family: Roboto Serif, 'Source Sans Pro';
          white-space: nowrap;
        }
        .frame-118-cDm {
          width: 100%;
          row-gap: 1.6rem;
          display: flex;
          flex-direction: column;

          .home-wmq {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.3025;
            letter-spacing: 0.048rem;
            color: #f4f4f4;
            font-family: DM Sans, 'Source Sans Pro';
          }
          .home-2-svP {
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.3025;
            letter-spacing: 0.048rem;
            color: #f4f4f4;
            font-family: DM Sans, 'Source Sans Pro';
            white-space: nowrap;
          }
          .about-DUT {
            line-height: 1.3025;
            letter-spacing: 0.048rem;
            color: #f4f4f4;
            font-family: DM Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 400;
          }
          .conatct-us-kzB {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.3025;
            letter-spacing: 0.048rem;
            color: #f4f4f4;
            font-family: DM Sans, 'Source Sans Pro';
          }
          .portfolio-743 {
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.3025;
            letter-spacing: 0.048rem;
            color: #f4f4f4;
            font-family: DM Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .portfolio-single-FAF {
            letter-spacing: 0.048rem;
            color: #f4f4f4;
            font-family: DM Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.3025;
          }
        }
      }
      .utility-pages--yrw {
        margin-right: 9.9rem;
        width: 16.2rem;
        height: 100%;
        flex-shrink: 0;

        .utility-pages-XdZ {
          margin-bottom: 2.3rem;
          font-size: 2rem;
          font-weight: 600;
          line-height: 1.1725;
          color: #ffffff;
          font-family: Roboto Serif, 'Source Sans Pro';
          white-space: nowrap;
        }
        .frame-118-4tP {
          flex-direction: column;
          width: 100%;
          row-gap: 1.6rem;
          display: flex;

          .style-guide-QST {
            line-height: 1.3025;
            letter-spacing: 0.048rem;
            color: #f4f4f4;
            font-family: DM Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 400;
          }
          .instruction-Lqu {
            font-weight: 400;
            line-height: 1.3025;
            letter-spacing: 0.048rem;
            color: #f4f4f4;
            font-family: DM Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
          }
          .license-4X1 {
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.3025;
            letter-spacing: 0.048rem;
            color: #f4f4f4;
            font-family: DM Sans, 'Source Sans Pro';
            white-space: nowrap;
          }
          .changelog-Q55 {
            font-weight: 400;
            line-height: 1.3025;
            letter-spacing: 0.048rem;
            color: #f4f4f4;
            font-family: DM Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
          }
          .error-404-YBH {
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.3025;
            letter-spacing: 0.048rem;
            color: #f4f4f4;
            font-family: DM Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .password-protected-szF {
            line-height: 1.3025;
            letter-spacing: 0.048rem;
            color: #f4f4f4;
            font-family: DM Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 400;
          }
        }
      }
      .frame-137-cS3 {
        width: 43.3rem;
        flex-shrink: 0;

        .subscribe-yGb {
          white-space: nowrap;
          margin-bottom: 1.8rem;
          font-size: 2rem;
          font-weight: 600;
          line-height: 1.1725;
          color: #ffffff;
          font-family: Roboto Serif, 'Source Sans Pro';
        }
        .frame-136-K5Z {
          width: 100%;
          height: 6.7rem;
          border-radius: 2rem;

          .frame-160-4Yw {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            background-color: #ffffff;
            border-radius: 4rem;
            box-sizing: border-box;
            padding: 1rem 1rem 1rem 2.3rem;

            .enter-your-email-here-kwZ {
              white-space: nowrap;
              margin: 0.1rem 9.3rem 0rem 0rem;
              font-size: 1.8rem;
              color: rgba(12, 12, 12, 0.8999999762);
              font-family: DM Sans, 'Source Sans Pro';
              flex-shrink: 0;
              font-weight: 400;
              line-height: 1.3025;
              letter-spacing: 0.054rem;
            }
            .button--AVV {
              height: 100%;
              font-size: 1.8rem;
              align-items: center;
              line-height: 1.3025;
              display: flex;
              background-color: rgba(12, 12, 12, 0.8999999762);
              border-radius: 2rem;
              width: 11.8rem;
              font-weight: 400;
              white-space: nowrap;
              justify-content: center;
              flex-shrink: 0;
              letter-spacing: 0.054rem;
              color: #fafafa;
              font-family: DM Sans, 'Source Sans Pro';
            }
          }
        }
      }
    }
    .line-4-RAX {
      margin: 0rem 0rem 2.895rem 0.4rem;
      width: 140rem;
      height: 0.1rem;
      background-color: rgba(244, 244, 244, 0.400000006);
      flex-shrink: 0;
    }
    .frame-150-7p3 {
      flex-shrink: 0;
      margin-right: 0.4rem;
      height: 6rem;
      display: flex;
      align-items: center;

      .frame-57-Tsu {
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 18rem;
        height: 100%;
        display: flex;

        .copyright-by-RJw {
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.5rem;
          font-size: 2rem;
          font-weight: 600;
          line-height: 1.1725;
          color: #f4f4f4;
          font-family: Roboto Serif, 'Source Sans Pro';
        }
        .designed-by-iconsticacom-ZAF {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.3025;
          letter-spacing: 0.048rem;
          color: #f4f4f4;
          font-family: DM Sans, 'Source Sans Pro';
        }
      }
      .frame-140-eSb {
        flex-shrink: 0;
        margin-right: 18.1rem;
        height: 100%;
        display: flex;
        flex-direction: column;

        .contact-us-BxK {
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.5rem;
          font-size: 2rem;
          font-weight: 600;
          line-height: 1.1725;
          color: #f4f4f4;
          font-family: Roboto Serif, 'Source Sans Pro';
        }
        .item-0-12-457-4578-KYj {
          line-height: 1.3025;
          letter-spacing: 0.048rem;
          color: #f4f4f4;
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 400;
        }
      }
      .frame-139-RLs {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 17.9rem;
        height: 100%;

        .address-B59 {
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.5rem;
          font-size: 2rem;
          font-weight: 600;
          line-height: 1.1725;
          color: #f4f4f4;
          font-family: Roboto Serif, 'Source Sans Pro';
        }
        .tanglewood-lane-gulfport-ms-39503-v2j {
          line-height: 1.3025;
          letter-spacing: 0.048rem;
          color: #f4f4f4;
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 400;
        }
      }
      .frame-149-qQb {
        height: calc(100% - 1rem);
        display: flex;
        column-gap: 2.9rem;
        align-items: center;
        flex-shrink: 0;
        margin: 0.5rem 0;

        .frame-141-ASs {
          width: 5rem;
          height: 5rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .frame-142-77D {
          vertical-align: top;
          flex-shrink: 0;
          width: 5rem;
          height: 5rem;
          object-fit: contain;
        }
        .frame-143-4HM {
          width: 5rem;
          height: 5rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
  }
}
