<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Style Guide </title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Outfit%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C600%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Serif%3A600%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=DM+Sans%3A400%2C500"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Manrope%3A700"/>
  <link rel="stylesheet" href="./styles/style-guide-.css"/>
</head>
<body>
<div class="style-guide--Lqd">
  <div class="auto-group-4nbr-Fxb">
    <div class="group-1-ydh">
      <p class="headings-WtX">Headings</p>
      <div class="auto-group-p5mz-Qj1">
        <div class="auto-group-ezjr-MeF">
          <div class="line-1-77d">
          </div>
          <p class="headings-qJX">Headings</p>
        </div>
        <p class="item-80-dNo">80</p>
      </div>
      <div class="auto-group-mtet-xAB">
        <div class="auto-group-s8aj-WBh">
          <div class="auto-group-yfqz-3SX">
            <p class="headings-axF">Headings</p>
            <div class="line-2-Hbm">
            </div>
          </div>
          <p class="item-77-1nf">77 </p>
        </div>
        <div class="auto-group-cqyf-9P5">
          <div class="auto-group-ahgt-gdu">
            <p class="item-45-EfR">45</p>
            <p class="headings-LTZ">Headings</p>
            <p class="headings-ej9">Headings</p>
            <div class="line-4-mom">
            </div>
          </div>
          <div class="auto-group-prtm-K4b">
            <div class="line-3-3mH">
            </div>
            <p class="item-64-zwR">64 </p>
          </div>
        </div>
        <div class="auto-group-mibz-93d">
          <p class="headings-Tq1">Headings</p>
          <div class="auto-group-uevb-CGo">
            <div class="line-5-j1q">
            </div>
            <p class="item-30-4po">30</p>
          </div>
        </div>
        <div class="auto-group-zauf-1V9">
          <p class="headings-Acw">Headings</p>
          <div class="line-6-JDM">
          </div>
          <p class="item-20-eHD">20</p>
        </div>
      </div>
    </div>
    <div class="heding-mcj">
      <p class="h1-X67">H1</p>
      <div class="auto-group-xrpv-TVZ">
        <p class="h2-brf">H2</p>
        <p class="h3-v8F">H3</p>
        <p class="h4-2SB">H4</p>
      </div>
      <div class="auto-group-4xek-YQX">
        <p class="h5-tUP">H5</p>
        <p class="h6-1J7">H6</p>
      </div>
    </div>
  </div>
  <p class="welcome-to-the-agency-7c3">
  Welcome To The
  <br/>
  Agency  
  </p>
  <div class="font-family-font-weight-cYo">
    <p class="title-wb5">Font-Family and Font Weight</p>
    <div class="poppins-and-dm-sans-HQ3">
      <div class="display-and-heading-2sR">
        <p class="heading-a8F">Heading </p>
        <div class="font-family-W1u">
          <p class="font-family-FkB">Font -Family </p>
          <p class="roboto-serif-nVD">(Roboto serif)</p>
        </div>
        <div class="font-weight-v5d">
          <p class="font-weight-Ec7">Font -Weight </p>
          <p class="item-600-700-9DH">(600 ,700)</p>
        </div>
      </div>
      <div class="body-font-family-Tjm">
        <p class="body-font-family-PNX">Body Font - family</p>
        <div class="auto-group-xjes-taB">
          <div class="font-family-oBM">
            <p class="font-family-5uZ">Font -Family </p>
            <p class="dm-sans-wB5">
              <span class="dm-sans-wB5-sub-0">(</span>
              <span class="dm-sans-wB5-sub-1">DM Sans</span>
              <span class="dm-sans-wB5-sub-2">)</span>
            </p>
          </div>
          <div class="font-weight-ufd">
            <p class="font-weight-et7">Font -Weight </p>
            <p class="item-400-nDd">(400)</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="auto-group-kwvz-up3">
    <div class="group-2-qBu">
      <div class="rectangle-1-ZNo">
      </div>
      <div class="rectangle-2-uBm">
      </div>
      <div class="rectangle-5-Ejq">
      </div>
      <div class="rectangle-3-Zn7">
      </div>
      <div class="rectangle-4-u5H">
      </div>
      <div class="rectangle-6-dmy">
      </div>
    </div>
    <div class="frame-2-z6j">0C0C0C</div>
    <div class="frame-7-351">64CCC5</div>
    <div class="frame-3-Hzw">121212</div>
    <div class="frame-4-ZxT">FFFFFF</div>
    <div class="frame-5-1pT">F4F4F4</div>
    <div class="frame-6-HGB">DFDFDF</div>
  </div>
  <p class="colors-9JP">colors</p>
  <p class="body-text-18px-ekw">Body Text -18px</p>
  <p class="body-text-16px-MQT">Body Text -16px</p>
  <div class="line-7-4Zm">
  </div>
  <p class="typography-QNj">Typography</p>
</div>
</body>